{% load staticfiles %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href='{% static "css/main.css" %}' />
</head>

<body>
    <div class="container">
    {% include 'navbar.html' %}
  
        <!-- Main jumbotron for a primary marketing message or call to action -->
    {% block jumbotron %}
    {% endblock %}
    {% block styles %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script>
        window.jQuery || document.write('<script src="{% static "javascript/jquery-slim.min.js" %}"><\/script>')
    </script>
    <script src='{% static "javascript/popper.min.js" %}'></script>
    <script src='{% static "javascript/bootstrap.min.js" %}'></script>
</div>
<footer>
        <div class= "navbar navbar-inverse navbar-static-bottom" role="navigation">
            <div class="navbar-text pull-left">
            </div>
            <div class= "navbar-text pull-right">
        <!-- Add in your social media / github links here -->
                <a href="https://github.com/clarkdatalabs">
                    <i class="fa fa-github-square fa-2x"></i></a>
            </div>
            <!--Below is the copyright information for the site. You can fill in your own here.-->
            <div class="navbar-text pull-left">
            &copy; Bonifase's Project, 2018
            </div>
        </div>	
        </footer>
</body>

</html>