{% extends 'base.html' %}

{% block styles %}
<style>
    .jumbotron {
        text-align: center;
    }
</style>
{% endblock %}

{% block jumbotron %}
<header>
    <div class="header-logo-wrapper">
        <img src="/media/img/logo.png" class="header-logo">
        </div>
        <h1>Coming Soon</h1>
        <img src="img/pattern.png" class="header-background">
        </header>
        <section class="what-its-about">
        <aside class="about-icons-wrapper">
          <img src="img/about-icons-org.svg" class="about-icons">
        </aside>
        <p>MAKING ONLINE PAYMENT SIMPLE</p>
      </section>
    
{% endblock %}

{% block content %}
<h1>Welcome to E-commerce</h1>
{% endblock %}